html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    color: white;
}

.history>img{
    width: 100px;
    height: 100px;
    
}

body{
    background-color: black;
}

.enginecover{
    width: 60px;
    height: 60px;
    z-index: 10000;
    position: sticky;
    
}

.bg{
    width: 1512px;
    height: auto;
    box-shadow: 4px 10px 40px rgb(61, 60, 60);
}

nav{
    display: flex;
    gap: 90px;
    position: sticky;
    top: 0px;
}

nav>a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}

header{
    background-color: black;
}

header>section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.pt{
    color: white;
    position: absolute;
    left: 650px;
    bottom: 10px;
    background-color: black;
    filter:opacity(0.8);
    padding: 15px;
    border-radius: 4px;
    width: 200px;
    height: auto;
}

.logo{
    width: 50px;
    height: 50px;
    margin: 15px;
}